#forminator-module-699 .forminator-field .forminator-radio .forminator-radio-image,
		#forminator-module-699 .forminator-field .forminator-checkbox .forminator-checkbox-image {
							width: 70px;
							height: 70px;
					}

	.forminator-ui.forminator-custom-form-699 .forminator-label{font-family: verdana !important;font-size: 12px !important;font-weight: 400 !important;}